###############ignored by JASON ##################
/skeleton.iml
/skeleton-common/skeleton-common.iml
/.idea/

/skeleton-common/target
/skeleton-service/skeleton-service.iml

/logs/
/cache/
##################################################
