<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ucaner.skeleton.codegen.mapper.UserMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, `name`, age , `desc`
    </sql>

    <!-- selectUserList -->
    <select id="selectUserList" resultType="cn.ucaner.skeleton.codegen.entity.User">
        SELECT * FROM `user`
    </select>

</mapper>